:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);
    
    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
 
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);
}

*{
    font-family: 'Comic Sans MS', cursive;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

label{
    margin: 20px;
    padding: 5px;
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
    background: #fff;
}

label:before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: 3px;
    top: 1.5px;
    border-radius: 50%;
    cursor: pointer;
    background: #000;
    transition: 0.4s;
}

label.active:before{
    left: 22px;
    background: rgb(0, 0, 0);
    color: #fff;
}

body.night{
    --mainTextColor:var(--mainTextColor-light);
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var(--mainLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --mainBgColor:var(--mainBgColor-light);
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#user-name{
    font-size: 3em;
    line-height: 1em;
}

#bio, a{
    font-weight: 300;
}

#profile-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
    transition: all .4s ease;
}

#educational--list{
    list-style: none;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 10px;
}

.card--additional-skills{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top:1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);
    transition: .3s;
}

.card--project a:hover{
    color: var(--mainLinkColor);
}

@media(max-width:600px) {
    #wrapper--hero{
        flex-direction: column;
        gap: 1em;
    }
    
    #profile-pic{
        width: 200px;
        height: 200px;
    }

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .card--additional-skills{
        border-left: none;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-left: 0;
    }
}