name: PR Check Workflow

# operate the workflow in every pull request in main branch

on:

  pull_request:
    branches: [ main ]

  push:
    branches: [ main ]

jobs:
  simple-pr-job:
    runs-on: ubuntu-latest

    steps:
      # 1. Get the code from the PR
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Hello message
      - name: Say Hello
        run: echo "Hello! PR is being checked for my-resume-site."

      # 3. Calculate the edit files
      - name: Count files changed
        run: |
          FILE_COUNT=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | wc -l)
          echo "Number of files changed in this PR: $FILE_COUNT"

      # 4. verify if the index.html exists
      - name: Check for index.html
        run: |
          if [ -f "index.html" ]; then
            echo "index.html exists ✅"
          else
            echo "index.html is missing ❌"
            exit 1
          fi
